@use "global" as *;

.top-blog {
  position: relative;
}

.top-blog::before {
  @include mq("md") {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: rem(500);
    background: url(../images/common/top-blog-background.jpg) no-repeat;
    background-size: cover;
    z-index: -1;
  }
}

.top-blog::after {
  @include mq("md") {
    content: "";
    position: absolute;
    top: rem(24);
    left: calc(50% - min(48%, rem(620)));
    background-image: url(../images/common/top-blog-group.svg);
    width: rem(437);
    height: rem(201);
  }
}

.top-blog__inner.inner {
  padding-left: rem(20);
  padding-right: rem(20);
  @include mq("md") {
    padding-left: rem(25);
    padding-right: rem(25);
  }
}

.top-blog__heading .section-heading__main,
.top-blog__heading .section-heading__main::first-letter,
.top-blog__heading .section-heading__sub {
  @include mq("md") {
    color: $white;
  }
}

.top-blog__items {
  margin-top: rem(30);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  row-gap: rem(38);
  column-gap: rem(40);
  @include mq("md") {
    grid-template-columns: repeat(3, 1fr);
    margin-top: rem(80);
  }
}

.top-blog__link {
  display: block;
  padding: rem(16) rem(16) rem(24);
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
  background-color: $white;
  transition: all 0.3s;
	&:hover {
	  opacity: 0.7;
	}
}

.top-blog__img img {
  aspect-ratio: 301 / 201;
  object-fit: cover;
}

.top-blog__body {
  margin-top: rem(18);
  color: $black;
}

.top-blog__date {
  font-size: rem(12);
  font-weight: $normal;
  font-family: $gotu-font;
}

.top-blog__title {
  font-weight: $medium;
  padding-bottom: rem(3);
  border-bottom: rem(1) solid $green;
  font-size: rem(16);
}

.top-blog__text {
  font-weight: $normal;
  margin-top: rem(16);
}

.top-blog__button {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}