@use "global" as *;

.campaign-page {
  position: relative;
}

.campaign-page::before {
  content: "";
  position: absolute;
  top: rem(-28);
  left: rem(15);
  width: rem(120);
  height: rem(55);
  background-image: url(../images/common/sub-fish-group.svg);
  @include mq("md") {
    top: rem(-70);
    left: calc(50% - min(48%, rem(620)));
    background-image: url(../images/common/top-voice-group.svg);
    width: rem(301);
    height: rem(138);
  }
}

.campaign-page__contents {
  margin-top: rem(40);
  padding: 0 rem(32);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: rem(32);
  @include mq("md") {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    row-gap: rem(70);
    column-gap: rem(40);
  }
}