@use "global" as *;

.policy__container {
  width: 100%;
  max-width: rem(800);
  margin: auto;
}

.policy__heading {
  font-weight: $medium;
  font-size: rem(24);
  @include mq("md") {
    font-size: rem(32);
  }
}

.policy__contents {
  margin-top: rem(40);
  line-height: 2;
}

.policy__content + .policy__content {
  margin-top: rem(30);
}

.policy__items {
  list-style-type: decimal;
  list-style-position: inside;
}

.policy__item {
  padding-left: 1em;
  text-indent: -1em;
}